/.idea/
.DS_Store
/node_modules/
npm-debug.log
.env
.env.test
/var/migration.json
/var/migration_test.json
/public/assets/dist/
/public/uploads/
/public/cache/
/var/geo/
.vscode/
.history/
package-lock.json
/.certs/