/.idea/
.DS_Store
/node_modules/
npm-debug.log
.env
.env.test
/var/migration.json
/var/migration_test.json
/public/assets/dist/
/public/uploads/
/public/cache/
/public/original/
/public/files/
/var/geo/
.vscode/
.history/
/.certs/