<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta name="description" content=""/>
  <meta charset="utf-8">
  <meta http-equiv="content-language" content="en-US">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link type="text/css" rel="stylesheet" href="/assets/dist/<%= assetFileName %>.css"/>
</head>
<body>
<script type="text/javascript"></script>
<div id="react-container"></div>
<script src="/assets/dist/<%= assetFileName %>.js"></script>
<script type="text/javascript" async></script>
</body>
</html>